@import '../mixin.scss';

.detail {
    .detail-items {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    @include breakpoint(tablet) {
        .detail-items {
            max-height: 90vh;
            .slick-track {
                display: flex;
                align-items: center;
            }
        }

    }
}