@import '../mixin.scss';
.about-wrapper {
    .left {
        display: none;
    }
    .right {
        width: 100%;
        padding: 0 1em;
        .article {
            line-height: 26px;
            font-size: 13px;
            color: #848484;
        }
    }
    @include breakpoint(tablet) {
        display: flex !important;
        height: 100vh;
        .common-header {
            margin-top: 30%;
        }
        .left {
            display: block;
            width: 50%;
            overflow: hidden;
            img {
                height: 100%;
                width: auto;
            }
        }
        .right {
            width: 50%;
            padding: $slider-padding;
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            animation-delay: 0.2s;
            animation-name: fadeInUp;
        }
    }
}