@import '../mixin.scss';

.carousel {
  width: 100vw;
  .slick-prev {
    left: 25px;
    z-index: 1000;
  }
  .slick-next {
    right: 25px;
  }
  .slick-prev, .slick-next {
    &::before {
      color: #5a5a5a
    }
  }
  .slick-list {
    height: 100%;
    .slick-track {
      height: 100%;
      .slick-slide {
        height: 100%;
        & > div {
          height: 100%;
        }
        .img-wrapper {
          display: flex !important;
          justify-content: center;
          align-items: center;
          overflow-x: hidden;
          height: 100%;
          width: 100%;
          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
  
  @include breakpoint(tablet) {
    .img-wrapper {
      padding: $slider-padding;
    }
  }
}
