@import '../mixin.scss';
* {
    box-sizing: border-box;
}

html,
body {
    font: 12px Arial, "微软雅黑";
}

a {
    all: unset;
    cursor: pointer;
}

p {
    margin: unset;
}

img {
    max-width: 100vw;
}

.slick-slide {
    border: none !important;
}

.slick-vertical>.slick-list>.slick-track>.slick-slide {
    @include breakpoint(tablet) {
        height: 100vh !important;
        overflow: hidden;
    }
}

.slide {
    @include breakpoint(tablet) {
        height: 100vh;
        overflow: hidden;
    }
}

.common-header {
    margin-top: 3.1em;
    padding-bottom: 40px;
    text-align: center;
    .title {
        font-size: 22px;
        color: #444;
        font-family: "HELVETICANEUELTPRO-THEX", "微软雅黑";
    }
    .subtitle {
        display: none;
        font-family: "HELVETICANEUELTPRO-THEX", "微软雅黑";
        margin-top: 5px;
        font-size: 14px;
        color: #c1c1c1;
    }
    @include breakpoint(tablet) {
        margin-top: 6%;
        text-align: left;
        .subtitle {
            display: block;
            color: #c1c1c1;
            font-size: 14px;
        }
    }
}

.common-arrow .slick-arrow {
    font-size: 32px;
    display: block;
    font-weight: 700;
    color: #777;
    @include breakpoint(tablet) {
        font-size: 48px;
        display: block;
        position: relative;
        &::before,
        &::after {
            transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
        }
        &::before {
            transform: translateY(0);
        }
        &.iconfont-thin-left::after {
            content: "\eac9"
        }
        &::after {
            transform: translateY(100%);
        }
    }
}


.more {
    width: 60%;
    margin: 35px auto 40px auto;
    line-height: 40px;
    height: 40px;
    border-radius: 0px;
    text-align: center;
    text-indent: 0px;
    display: block;
    font-family: "HELVETICANEUELTPRO-THEX";
    background-color: #383838;
    border: #383838 1px solid;
    color: #fff;
    font-size: 16px;
    @include breakpoint(tablet) {
        margin-top: 4%;
        margin-left: 0;
        width: 120px;
    }
}