.carousel {
  .slick-prev {
    left: 25px;
    z-index: 1000;
  }
  .slick-next {
    right: 25px;
  }
  .slick-list {
    .slick-track {
      .slick-slide {
        height: 100%;
        img {
          height: 100vh;
          padding: 50px;
        }
      }
    }
  }
}
